body {
    background-color: black; /* Arka plan rengi: Siyah */
    margin: 0;
    padding: 0;
}

.resim-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px; /* Resimlerin etrafındaki boşluk */
}

.resim-container a {
    margin-bottom: 20px; /* Resimler arasındaki dikey boşluk */
    flex-basis: calc(33.33% - 20px); /* Resimlerin yatay boşluklu genişliği */
    text-align: center;
    text-decoration: none;
    color: white; /* Resimlerin altındaki metin rengi */
}

.resim-container img {
    max-width: 100%;
    height: auto;
}
