/* ... Diğer stiller ... */

.resim-container {
    text-align: center;
}

.resim-araligi {
    height: 20px; /* Resimler arasındaki boşluğun yüksekliği */
    background-color: #f0f0f0; /* Gri arka plan rengi */
}
